.cart-item {
    width: 571px;
    display: flex;
    align-items: center;

    margin-bottom: 25px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    padding: 8px;
}

.cart-info {

    display: flex;
    flex-grow: 1;
    align-items: center;
    /* justify-content: space-between; */
}

.cart-info h3 {
    margin: 0px;
}

.cart-info p {
    margin: 0px;
}

.grow {

    flex-grow: 1;
}

.cart-item img {
    width: 91px;
    height: 91px;
    border-radius: 8px;
    margin-right: 17px;

}

.delete-btn {
    background-color: #f9cdcd;
    color: #eb5757;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}