.header {
    min-width: 100%;
    background-color: #1C2B35;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}

.header nav a {
    margin-left: 32px;
    color: white;
}

.signOut-btn {
    margin-left: 20px;
    background-color: orange;
}

.email-text {
    color: orange;
    margin: 0 8px;
}